@import "../../global.scss";

.portfolioList {
  font-size: 16px;
  margin-right: 30px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
